# This is the default config for bundle-report.  If you copy this to
# {project_root}/.bundlereport.rc then that file will be used instead.
# This file is yaml, but config may be json or a js module with this name.
# Other file names may be specified via he -c CLI argument, a string
# setting in package.json, `"bundleReport": "path/to/configfile", or
# as setting within an object in package.json, like so:
# ...
# bundleReport: {
#   config: "path/to/file",
# }

files:
  - path: dist/*
    maxSize: 10Kb
baseBranch: master
name: bundle
